.content {
    background-color: black;
}
.first-header {
 background: url('https://res.cloudinary.com/de1fkeds5/image/upload/v1579717309/_MG_2397_ejun5g.jpg')
}

.second-header {
    background: url('https://res.cloudinary.com/de1fkeds5/image/upload/v1579717367/DALLIN-SLIDER-FINSIHSED-GREEN-HAT-4-WEB_zzwojh.jpg')
}

.third-header {
    background: url('https://res.cloudinary.com/de1fkeds5/image/upload/v1579717309/_MG_2397_ejun5g.jpg')
}

.fourth-header {
    background: url('https://res.cloudinary.com/de1fkeds5/image/upload/v1579717382/SLIDER-1-finsihed_rzdrvf.jpg')
}